<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/applicationContext.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>com.foo.CalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/foo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jerseyservlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.foo</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>jerseyservlet</servlet-name>
        <url-pattern>/foo/api/*</url-pattern>
    </servlet-mapping>
    
    <!--<servlet>
        <servlet-name>restfulservlet</servlet-name>
        <servlet-class>com.foo.RestfulCalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>restfulservlet</servlet-name>
        <url-pattern>/foo/api/*</url-pattern>
    </servlet-mapping>
-->
</web-app>